{% extends "base.html" %}
{% load static %}

{% block page_title %}
    All Posts
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/all-posts.css' %}">
{% endblock %}

{% block content %}
<section id="all-posts">
    <h2>All Posts</h2>

    <ul>
        <li>
            {% include "blog/includes/post.html" %}
        </li>
        <li>
            {% include "blog/includes/post.html" %}
        </li>
        <li>
            {% include "blog/includes/post.html" %}
        </li>
        <li>
            {% include "blog/includes/post.html" %}
        </li>
        <li>
            {% include "blog/includes/post.html" %}
        </li>
        <li>
            {% include "blog/includes/post.html" %}
        </li>
    </ul>
</section>
{% endblock %}